	<header>
		<h1>About Scoreboard</h1>
		<div id="about-logo"  class="logo" >
			<div class="sb">sb</div>
		</div>
	</header>
	
	<div class="sections">
		<div class="about-section"  >
			<h2>What is it?</h2>
			<p>A simple app that lets you create a realtime scoreboard for whatever you want. No rules.</p>
		</div>

		<div class="about-section" id="app-info">
			<h2>How was it built?</h2>
			<p><strong>Backend</strong>:   Node.js, Socket.io,  and Mongoose.js 
			<p><strong>Frontend</strong>:  Backbone.js </p>
			<p>It's a work in progress! I intentionally made it very plain because I didn't want to get caught up in the design until the functionality is complete.</p>
			
		</div>

		<div class="about-section"  id="ore-info">
			<h2>What's next</h2>
			<p><strong>User Account/Game Ownership</strong>:   Right now anyone can update a score, not cool.</p>
			<p><strong>Performance</strong>:   Currently when you update the score, there is some lag because it only broadcasts the score change after Mongodb has been updated. This is fine for viewers, but makes it seem chokey for the scorekeeper.</p>
			<p><strong>Design</strong>:   I gotta make it pretty</p>
			<p><strong>Test</strong>:   Find out what sucks and fix it</p>
		</div>
	
		<div class="about-section"  id="ore-info">
			<h2>Ryan Ore</h2>
			<ul>
				<li><a href="http://ryanore.com">ryanore.com</a></li>
				<li><a href="http://element-farm.com">element-farm.com</a></li>
			</ul>
		
		</div>
	</div>
	
	<div class="pagepadding"></div>
